@import "../abstracts/variables.scss";

.mb-sm {
  margin-bottom: 2rem;
} // small

.mb-md {
  margin-bottom: 3rem;
} // medium

.mb-lg {
  margin-bottom: 4rem;
} // large

.mb-hg {
  margin-bottom: 8rem;
} // huge
